
@{
    ViewBag.Title = "_Menu1";
}

<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Importar Dados", "Index", "Importar")</li>
    <li>@Html.ActionLink("Exportar Dados", "Export", "Exportar")</li>
</ul>